:root {
    --primary-color: #689689;
    --secondary-color: #fff;
    --tertiary-color: #000000;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: OCR A Std, 'Courier New', Courier, monospace;
  }

/* HEADER / NAV STYLES START */
  header {
    position: -webkit-sticky;
    position: sticky;
    flex-wrap: wrap;
    align-items: center;
  }

  header img{
    width: 100px;
    height: 65px;
    padding: 10px 15px;
    margin-top: 15px;
    opacity: .85;
  }

  header img:hover{
    background: var(--primary-color);
    border-radius: 15px;
  }

  header nav ul {
    font-size: 1.90vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }

  header nav ul li a {
    padding: 5px 8px;
    text-decoration: none;
    color: var(--tertiary-color);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color););
    border-radius: 15px
  }
/* HEADER / NAV STYLES END */

/* JUMBOTRON STARTS */
  .main {
    background-image: url(../images/P&K.JPG);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: var(--secondary-color);
    opacity: .80;
    border-radius: 15px;
    margin: 10px;
  }

  .main h1{
    padding: 330px 150px 500px;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
  }

  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .projects h3 {
    color: var(--primary-color);
    font-size: 30px;
    border-bottom: var(--primary-color) 2px solid;
    padding-bottom: 15px;
  }