:root {
    --primary-color: #689689;
    --secondary-color: #fff;
    --tertiary-color: #000000;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--secondary-color);
    font-family: OCR A Std, 'Courier New', Courier, monospace;
  }

/* HEADER / NAV STYLES START */
  header {
    position: -webkit-sticky;
    position: sticky;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
  }

  header img{
    width: 100px;
    height: 65px;
    padding: 10px 15px;
  }

  header img:hover{
    background: var(--primary-color);
    border-radius: 15px;
  }

  header nav ul {
    font-size: 1.90vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0 40px;
  }

  header nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--tertiary-color);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color););
    border-radius: 15px
  }
/* HEADER / NAV STYLES END */
  .jumbotron {
    background: url(../images/P&K.JPG) no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    opacity: .70;
    border-radius: 15px;
    margin: 10px;
  }

  .jumbotron div {
    padding: 200px;
    font-weight: bolder;
    font-size: 65px;
    text-align: center;
    color: var(--secondary-color);
  }
